* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
  width: 100vw;
  height: 100vh;
}

#container {
  width: 90%;
  max-width: 400px;
  height: 100%;
  
  margin: auto;
  padding: 20px 0;
}

legend {
  font-weight: 700;
  font-size: 18px;
  
  margin-bottom: 10px;
}

legend,
.main-div div p,
th,
td {
  text-align: center;
}

.button-div,
button {
  border-radius: 10px 10px 0 0;
}

.button-div,
button,
.main-div,
.main-div div,
table,
th,
td {
  border: 1px solid black;
}

.button-div,
button,
.main-div,
table {
  width: 100%;
}

button,
.main-div {
  height: 40px;
}

.button-div,
.main-div,
table {
  background: lightgray;
}

.button-div {
  padding: 2px;
}

.button-div,
.main-div {
  border-bottom: 0;
}

button {
  background: lightseagreen;
  
  font-size: 16px;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 2px;
  
  padding: 0 2px;
}

.main-div,
table {
  border-top: 0;
}

.main-div div {
  background: lightcoral;
}

.button-div button,
.main-div div p:first-child,
tr:first-child th {
  font-weight: 500;
}

table {
  margin-bottom: 30px;
}

th,
td {
  width: 50%
}

tr:first-child th {
  padding: 5px;
}

tr:first-child th:first-child {
  background: lightsalmon;
}

tr:first-child th:last-child {
  background: lightblue;
  cursor: pointer;
  position: relative;
}

tr td {
  background: white;
}

tr.hidden {
  display: none;
}

th.term-or-count {
  overflow: hidden;
}

th.term-or-count p:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top .3s ease;
}

th.term-or-count p:last-child {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top .3s ease;
}

th.term-or-count.active p:first-child {
  top: 150%;
}

th.term-or-count.active p:last-child {
  top: 50%;
}